{% extends 'base.html' %}
{% block title %} market {% endblock title %}

{% block body %}

<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2>Available items on the Market</h2>
        <p>Click on the one of the items to start buying</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            {% include 'includes/items_modals.html' %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.barcode}}</td>
                <td>₹{{item.price}}</td>
                <td>
                    <button type="button" class="btn btn-outline btn-info" data-bs-toggle="modal"
                            data-bs-target="#Modal-MoreInfo-{{ item.id }}">More Info
                    </button>
                    <button type="button" class="btn btn-outline btn-success" data-bs-toggle="modal"
                            data-bs-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this item
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Owned items</h2>
        <p>Click on sell item to put the item back on the market</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/sell_items_modal.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{(owned_item.name).title()}}</h5>
                        <button type="button" class="btn btn-outline btn-danger" style="margin-bottom: 5px"
                                data-bs-toggle="modal" data-bs-target="#Modal-SellConfirm-{{ owned_item.id }}">
                            Sell this Item
                        </button>
                        <p class="card-text">
                            <strong>This item costs ₹{{ owned_item.price }}</strong>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock body %}